.profile-title {
  color: #6B7088;
  margin-right: 20px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 17px;
}

.profile-data {
  color: #332F3A;
  letter-spacing: 0.16px;
  line-height: 17px;
}