.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.arrows {
  color: black;
  font-size: 15px;
}

// }
.carousel .slide {
  background: white !important;
}

.modelImg {
  max-width: 85%;
  border-radius: 10px;
  transition: transform .2s;
}

// .modelImg:hover {
//   transform: scaleX(1.05);
// }

.name {
  display: none;
}

.model-holder {
  min-height: 140px;
}

// .model-holder:hover {
//   .name{
//     display: block;
//   }
//   .modelImg{
//     display: none;
//   }
// }

@media (min-width: 376px) and (max-width: 425px) {
  .modelImg {
    // max-width: 190px;
  }
}