.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.arrows {
  color: black;
  font-size: 30px;
}

// }
.carousel .slide {
  background: white !important;
}

.model-h {
  max-width: 85%;

  :hover {
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.modelImg {
  border-radius: 10px;
  max-width: inherit;
}

.name {
  display: none;
}

.model-holder {
  min-height: 140px;
}

.category-row {
  padding-top: 20px;
}

.category-name {
  font-size: 25px;
}

@media (min-width: 376px) and (max-width: 425px) {
  .modelImg {
    // max-width: 190px;
  }
}