.footer-logo{
  height: 50px;
}

.social_links{
  font-size: 20px;
  margin-right: 20px;
}

.app-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa !important;
  border-top: 0.5px solid #80808057;
}

.header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}